body{
  background-color: #66ccff;
  font: normal 100% Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header{
  background-color: #808cfa;
  width: 100%;
  height:5%;
}

#nav ul li{
  list-style: none !important;
  background-color: #808cfa;
  float:right;
  font: bolder 100% fantasy;
  text-align: center;
  padding: 0.5em;
  display: flex !important;
  letter-spacing:0.1em;
}

#nav text{
  float: left;
  text-align: center;
  padding: 0.5em;
  font: bold ;
  font-weight: 600;
  font-variant:small-caps;
  font-style: oblique;
  color: #e04785;
}
