body{
  background-color: #66ccff;
  font: normal 100% Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#nav ul li{
  background-color: #808cfa;
  float:right;
  padding:5px;
}
